streamlit
gtts
pytesseract
opencv-python-headless
numpy
pillow
scikit-image
imutils
keybert
spacy>=3.4.0
sentence-transformers
scikit-learn
transformers
easyocr
langdetect
textblob
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.4.1/en_core_web_sm-3.4.1-py3-none-any.whl